<tr class="item-row" xmlns="http://www.w3.org/1999/html">
    <td rowspan="8" style="vertical-align: center;">
        <figure class="image is-64x64">
            <img class="img-custom is-rounded" src="img/${Imagen}" style="max-width: 420px; max-height: 240px;">
        </figure>
    </td>
    <th>Nombre de la Oferta</th>
    <td>${NombreOferta}</td>
</tr>
<tr class="item-row">
    <th>Código de la oferta</th>
    <td>${OfertaID}</td>
</tr>
<tr class="item-row">
    <th>Precio unitario</th>
    <td>${Monto}</td>
</tr>
<tr class="item-row">
    <th>Cantidad pedida</th>
    <td>${Cantidad}</td>
</tr>
<tr class="item-row">
    <th>Precio Total</th>
    <td>${PrecioTotal}</td>
</tr>
<tr class="item-row">
    <th>Fecha del Pedido</th>
    <td>${FechaPedido}</td>
</tr>
<tr class="item-row">
    <th>Método de Pago</th>
    <td>${MetodoPago}</td>
</tr>
<tr class="item-row">
    <th>Estado del Pedido</th>
    <td>${EstadoPedido}</td>
</tr>